{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cocoa Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <!-- Sidebar -->
    <div class="flex">
        <!-- Sidebar (Fixed) -->
        <div class="w-52 fixed top-0 left-0 h-screen bg-[#561f37] shadow-lg">
            {% include 'partials/sidebar.html' %}
        </div>

        <!-- Main Content -->
        <main class="ml-52 w-full">
            {% include 'partials/topbar.html' %}

            <div class="p-6">
                {% include 'partials/breadcrumb.html'%}
                {% block content %}
          
                {% endblock %}
                
            </div>
        </main>
    </div>
</body>
</html>
